{% extends "base_home.html" %}

{% block title %}Home{% endblock %}

{% block tab %}
	<p>Info</p>
{% endblock %}

{% block content %}
	<div class="info">
		<div class="nested_info">
			<div class="pokeleagues">
				<p class="title">About PokeLeagues</p>

				<p class="text">Pokeleagues is a web application for online pokemon tournaments, draft leagues, and much more. Pokeleagues facilitates all of the social aspects of hosting tournaments and any kind of pokemon battles, but is meant to be used in conjunction with an official pokemon game, pokemon showdown, or any other type of pokemon simulator. It’s free to anyone, and is meant to allow users to participate or view a variety of different tournaments and battles. </p>
			</div>

			<div class="flask_image">
				<img class="flask" src="https://flask.palletsprojects.com/en/1.1.x/_images/flask-logo.png" alt="Flask">
			</div>

			<div class="me">
				<p class="title">About Me</p>
				
				<p class="text">My name is Colton Bove, and I’m a current Computer Science major at the University of Pittsburgh. This web app started as a way for me to practice and get some experience with web development. The website is free to use, and I’d love for any type of feedback you’d be willing to give to me. I’d only like to continue to grow and improve this website. Feel free to use the Report tab on the left or reach out to me at any of the social media links above if you'd like to help out, ask questions, or just talk. Thanks for using Pokeleagues! </p>
			</div>

			<div class="pitt_image">
				<img class="pitt" src="https://seeklogo.com/images/P/pitt-panthers-logo-D16B523B4B-seeklogo.com.png" alt="Pitt Script">
			</div>
		</div>
	</div>
{% endblock %}
